body {
    margin-top: 170px;
    margin-left: 520px;
}
#iconG {
    margin-left: 70px;
}
#SearchInput {
    height: 55px;
    width: 550px;
    border-radius: 35px;
}
#m-icon {
    cursor: pointer;
}
#note {
    font-family:monospace;
    font-size: larger;
    font-weight: bolder;
}